# Виртуальное окружение
venv/
env/
ENV/

# Python
*.pyc
*.pyo
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/

# Django
db.sqlite3
*.sqlite3
*.log
media/
staticfiles/
logs/

# Переменные окружения
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

ruff.toml
.prettierrc
