<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Профиль пользователя {{ user.username }}</h1>
  <div>
    Текущий аватар:
    {% if user.profile.avatar %}
      <img src="{{ user.profile.avatar.url }}" alt="Аватар">
    {% else %}
      <p>Аватар не загружен.</p>
    {% endif %}
  </div>
  <p>Email: {{ user.email }}</p>
    <a href="{% url 'products:profile_edit' %}">Редактировать профиль</a>
</body>
</html>
