<h1>Производители и статистика продуктов</h1>

{% if manufacturer_list %}
    <ul>
        {% for manufacturer in manufacturer_list %}
            <li>
                <strong>{{ manufacturer.name }}</strong> ({{ manufacturer.country|default:"Не указана" }})<br>
                Доступных продуктов: {{ manufacturer.available_count }}<br>
                Недоступных продуктов: {{ manufacturer.unavailable_count }}
            </li>
        {% endfor %}
    </ul>
    {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; первая</a>
                    <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
                {% endif %}

                <span class="current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">следующая</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% else %}
    <p>Производителей не найдено.</p>
{% endif %}
