<h1>Список производителей</h1>

{% if manufacturer_list %}
    <ul>
        {% for manufacturer in manufacturer_list %} {# Используем manufacturer_list как context_object_name #}
            <li>
                <a href="{% url 'manufacturer_detail' pk=manufacturer.pk %}">
                    {{ manufacturer.name }}
                </a>
                {% if manufacturer.country %}({{ manufacturer.country }}){% endif %}
            </li>
        {% endfor %}
    </ul>

    {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; первая</a>
                    <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
                {% endif %}

                <span class="current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">следующая</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% else %}
    <p>Производителей пока нет.</p>
{% endif %}
